<!-- views/partials/header.ejs -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Nodejs UpStage trial <small>with bootstrap</small></a>
    <button type="button" id="signInBtn" data-toggle="modal" data-target="#myModal" class="btn btn-default navbar-btn navbar-right">Sign in</button>
  </div>
</div>
