<!-- views/partials/head.ejs -->

<title>UpStage prototype</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/public/jquery-1.8.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/hollywood.js"></script>
<script src="/public/bootstrap.js"></script>
<link rel="stylesheet" href="/public/bootstrap.css" />
<link rel="stylesheet" href="/public/app.css" />
<!-- added css for theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
