<!-- views/partials/main.ejs -->

<div id="dashboard">
  <!--Yue: components are actually from bootstrap css file -->
  <div class="row">
    <!-- the canvas. still work on a new way of resizing canvas dynamically -->
    <div class="col-md-8">
      <!-- yl: dont know how to alter the height dynamically -->
      <div class="container-canvas" id="container11" style="border: 1px solid green; height:450px">
      </div>
    </div>
    <div class="col-md-4">
      <div class="row" style="border: 1px solid green">
        <!-- <b>Player</b> -->
        <div class="row-fluid" >
          <div class="col-md-6">Player</div>
          <div class="col-md-6" id="audience">Audience</div>
        </div>
        <hr />
        <div id="users" class="pre-scrollable"></div>
        <!-- <hr class="visible-xs visible-sm"/> -->
      </div>
      <div class="row">
        <!-- trying with longer input field-->
        <input type="text" class="from-control col-md-12" id="data" placeholder="send message" />
      </div>
      <div class="row" style="border: 1px solid green">
        <!-- col makes the content line wrap -->
        <div class="pre-scrollable col-md-12" id="conversation"></div>
      </div>
    </div>
  </div>
</div>
