<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/public/bootstrap.css" />
    <link rel="stylesheet" href="/public/trial_view.css" />
    <title></title>
  </head>
  <body>
    <div class="container Override">
      <div class="row">
        <div class="col-md-12">header section</div>
      </div>
      <div class="row fill">
        <div class="wrapper">
          <div class="col-md-4">Navigation</div>
          <div class="col-md-8"><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p><p>Content</p></div>
        </div>
      </div>
    </div>
  </body>
</html>
